services:
  cm-ant:
    build:
      context: ./
      dockerfile: Dockerfile
    container_name: cm-ant
    platform: linux/amd64
    ports:
        - 8880:8880
    networks:
      - cm-ant-net
      - cb-tumblebug-net
    depends_on:
      cb-tumblebug:
        condition: service_started
      ant-postgres:
        condition: service_healthy
    volumes:
      - ./container-volume/cm-ant/result/:/app/result/
    environment:
      - ANT_SPIDER_HOST=http://cb-spider
      - ANT_SPIDER_PORT=1024
      - ANT_TUMBLEBUG_HOST=http://cb-tumblebug
      - ANT_TUMBLEBUG_PORT=1323
      - ANT_DATABASE_HOST=ant-postgres
    healthcheck:
      test: [ "CMD", "curl", "-f", "http://localhost:8880/ant/readyz" ]
      interval: 1m
      timeout: 7s
      retries: 5
      start_period: 10s
    restart: unless-stopped

  ant-postgres:
    container_name: ant-postgres
    image: timescale/timescaledb:latest-pg16
    ports:
      - "5432:5432"
    environment:
      - POSTGRES_USER=cm-ant-user
      - POSTGRES_PASSWORD=cm-ant-secret
      - POSTGRES_DB=cm-ant-db
    networks:
      - cm-ant-net
    healthcheck:
      test: [ "CMD", "pg_isready", "-U", "cm-ant-user", "-d", "cm-ant-db" ]
      interval: 1m
      timeout: 5s
      retries: 5
      start_period: 10s
    restart: unless-stopped

  cb-tumblebug:
    image: cloudbaristaorg/cb-tumblebug:0.10.0
    container_name: cb-tumblebug
    platform: linux/amd64
    ports:
      - 1323:1323
    depends_on: 
      - cb-tumblebug-etcd
      - cb-spider      
    networks:
      - cm-ant-net
      - cb-tumblebug-net
      - cb-spider-net
    volumes:
      - ./container-volume/cb-tumblebug/meta_db/:/app/meta_db/
      - ./container-volume/cb-tumblebug/log/:/app/log/
    environment:
      # - TB_ROOT_PATH=/app
      - TB_SPIDER_REST_URL=http://cb-spider:1024/spider
      - TB_ETCD_ENDPOINTS=http://cb-tumblebug-etcd:2379
      # - TB_ETCD_AUTH_ENABLED=true
      # - TB_ETCD_USERNAME=default
      # - TB_ETCD_PASSWORD=default
      # - TB_SQLITE_URL=localhost:3306 
      # - TB_SQLITE_DATABASE=cb_tumblebug 
      # - TB_SQLITE_USER=cb_tumblebug 
      # - TB_SQLITE_PASSWORD=cb_tumblebug 
      # - TB_ALLOW_ORIGINS=*
      # - TB_AUTH_ENABLED=true
      # - TB_API_USERNAME=default
      # - TB_API_PASSWORD=default
      # - TB_AUTOCONTROL_DURATION_MS=10000
      # - TB_SELF_ENDPOINT=localhost:1323
      # - TB_DRAGONFLY_REST_URL=http://cb-dragonfly:9090/dragonfly
      # - TB_DEFAULT_NAMESPACE=default
      # - TB_DEFAULT_CREDENTIALHOLDER=admin
      # - TB_LOGFILE_PATH=/app/log/tumblebug.log
      # - TB_LOGFILE_MAXSIZE=10
      # - TB_LOGFILE_MAXBACKUPS=3
      # - TB_LOGFILE_MAXAGE=30
      # - TB_LOGFILE_COMPRESS=false
      # - TB_LOGLEVEL=debug
      # - TB_LOGWRITER=both
      # - TB_NODE_ENV=development
    healthcheck: # for CB-Tumblebug
      test: [ "CMD", "curl", "-f", "http://localhost:1323/tumblebug/readyz" ]
      interval: 1m
      timeout: 5s
      retries: 3
      start_period: 10s
    restart: unless-stopped
  cb-tumblebug-etcd:
    image: gcr.io/etcd-development/etcd:v3.5.14
    container_name: cb-tumblebug-etcd
    networks:
      - cb-tumblebug-net
    ports:
      - 2379:2379
      - 2380:2380
    volumes: 
      - ./container-volume/cb-tumblebug/etcd/data:/etcd-data
    entrypoint: /usr/local/bin/etcd
    command:
      - --name
      - s1
      - --data-dir
      - /etcd-data
      - --listen-client-urls
      - http://0.0.0.0:2379
      - --advertise-client-urls
      - http://0.0.0.0:2379
      - --listen-peer-urls
      - http://0.0.0.0:2380
      - --initial-advertise-peer-urls
      - http://0.0.0.0:2380
      - --initial-cluster
      - s1=http://0.0.0.0:2380
      - --initial-cluster-token
      - tkn
      - --initial-cluster-state
      - new
      - --log-level
      - info
      - --logger
      - zap
      - --log-outputs
      - stderr
      - --auth-token
      - simple
    healthcheck:
      test: [  "CMD", "/usr/local/bin/etcd", "--version"]
      interval: 1m
      timeout: 5s
      retries: 3
      start_period: 10s
    restart: unless-stopped

  cb-spider:
    image: cloudbaristaorg/cb-spider:0.10.0
    container_name: cb-spider 
    platform: linux/amd64
    networks:
      - cb-tumblebug-net
      - cb-spider-net
    ports:
      - 1024:1024
    volumes:
      - ./container-volume/cb-spider/meta_db/:/root/go/src/github.com/cloud-barista/cb-spider/meta_db/
      - ./container-volume/cb-spider/log/:/root/go/src/github.com/cloud-barista/cb-spider/log/
    environment:
      - PLUGIN_SW=OFF
      - SERVER_ADDRESS=localhost
      - SPIDER_LOG_LEVEL=error
      - SPIDER_HISCALL_LOG_LEVEL=error
      - ID_TRANSFORM_MODE=OFF
    healthcheck:
      test: [ "CMD", "curl", "-f", "http://localhost:1024/spider/readyz" ]
      interval: 1m
      timeout: 5s
      retries: 3
      start_period: 10s
    restart: unless-stopped
    
networks:
  cm-ant-net:
  cb-spider-net:
  cb-tumblebug-net: