{{define "base"}}
    <!DOCTYPE html>
    <html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Welcome to ANT</title>
        <link rel="stylesheet" href="/css/test-name.css">
        <link rel="stylesheet" href="/css/load-configuration.css">
        <link rel="stylesheet" href="/css/navigation.css">
        <link rel="stylesheet" href="/css/results.css">
        <link rel="stylesheet" href="/css/load-detail.css">
        <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-zoom"></script>
        <script src="https://cdn.jsdelivr.net/npm/chartjs-adapter-date-fns/dist/chartjs-adapter-date-fns.bundle.min.js"></script>


    </head>

    <body>
        <div class="navbar" style="margin-bottom: 2em;">
            <a href="/ant">Home</a> <!-- Home 링크 -->
            <a href="/ant/results">Results</a> <!-- Results 링크 -->
        </div>

        {{block "content" .}}

        {{end}}
    </body>

    </html>
{{end}}