<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Load Test Configuration</title>
    <link rel="stylesheet" href="/css/test-name.css">
    <link rel="stylesheet" href="/css/load-configuration.css">
    <link rel="stylesheet" href="/css/load-detail.css">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

</head>

<body>
    <div class="container">
        <div class="test-name">
            <div class="test-name-container">
                <label for="test-name-input">Test Name:</label>
                <input type="text" id="test-name-input" name="testName" placeholder="Enter Test Name">
                <button type="button" id="local-button" class="toggle-button active">Local</button>
                <button type="button" id="remote-button" class="toggle-button">Remote</button>
            </div>
            <div id="remote-config-form" class="remote-config-form" style="display: none;">
                <div class="form-group">
                    <label for="remote-connection-type">Connection Type:</label>
                    <select id="remote-connection-type" name="remoteConnectionType">
                        <option value="">Select Connection Type</option>
                        <option value="password">Password</option>
                        <option value="privateKey">Private Key</option>
                        <option value="builtIn">Built-In</option>
                    </select>
                </div>

                <!-- Container for Password/Private Key inputs -->
                <div id="auth-container" style="display: none;">
                    <div class="form-group">
                        <label for="public-id">Public ID:</label>
                        <input type="text" id="public-id" name="publicId" placeholder="Enter Public ID">
                    </div>

                    <div class="form-group">
                        <label for="username">Username:</label>
                        <input type="text" id="username" name="username" placeholder="Enter Username">
                    </div>

                    <div class="form-group">
                        <label for="cert">Cert:</label>
                        <input type="text" id="cert" name="cert" placeholder="Enter Cert">
                    </div>

                    <div class="form-group">
                        <label for="port">Port:</label>
                        <input type="text" id="port" name="port" placeholder="Enter Port">
                    </div>
                </div>

                <!-- Container for Built-In inputs -->
                <div id="built-in-container" style="display: none;">
                    <div class="form-group">
                        <label for="ns-id">NS ID:</label>
                        <input type="text" id="ns-id" name="nsId" placeholder="Enter NS ID">
                    </div>

                    <div class="form-group">
                        <label for="mcis-id">MCIS ID:</label>
                        <input type="text" id="mcis-id" name="mcisId" placeholder="Enter MCIS ID">
                    </div>

                    <div class="form-group">
                        <label for="username-built-in">Username:</label>
                        <input type="text" id="username-built-in" name="usernameBuiltIn" placeholder="Enter Username">
                    </div>
                </div>
            </div>


        </div>

        <div class="load-configuration-wrapper">
            <div class="load-configuration">
                <h2>Load Configuration</h2>
                <form id="load-configuration-form">
                    <div class="form-group">
                        <label for="virtual-users">Virtual Users:</label>
                        <input type="range" id="virtual-users" name="virtualUsers" min="1" max="30" value="10" step="1">
                        <span id="virtual-users-value"></span>
                    </div>

                    <div class="form-group">
                        <label for="duration">Duration (seconds):</label>
                        <input type="range" id="duration" name="duration" min="10" max="300" value="30" step="10">
                        <span id="duration-value"></span>
                    </div>

                    <div class="form-group">
                        <label for="ramp-up-time">Ramp Up Time (seconds):</label>
                        <input type="range" id="ramp-up-time" name="rampUpTime" min="10" max="60" value="10" step="2">
                        <span id="ramp-up-time-value"></span>
                    </div>

                    <div class="form-group">
                        <label for="ramp-up-steps">Ramp Up Steps:</label>
                        <input type="range" id="ramp-up-steps" name="rampUpSteps" min="1" max="10" value="3" step="1">
                        <span id="ramp-up-steps-value"></span>
                    </div>
                </form>

            </div>
            <div class="chart-container">
                <canvas id="load-chart"></canvas>
            </div>
        </div>

        <div class="load-test-details-header">
            <h2>Load Test Details</h2>
            <div class="load-test-details-buttons">
                <button type="button" id="add-load-test-detail" aria-label="Add load test detail">+</button>
                <button type="button" id="remove-load-test-detail" aria-label="Remove load test detail">-</button>
            </div>
        </div>

        <div class="load-execution-http-req-container">
            <div class="load-execution-http-req" id="load-execution-http-req-template">
                <div class="form-group">
                    <label for="method">Method:</label>
                    <select id="method" name="method">
                        <option value="GET">GET</option>
                        <option value="POST">POST</option>
                        <option value="PUT">PUT</option>
                        <option value="DELETE">DELETE</option>
                        <option value="PATCH">PATCH</option>
                    </select>
                </div>

                <div class="form-group">
                    <label for="protocol">Protocol:</label>
                    <select id="protocol" name="protocol">
                        <option value="http">HTTP</option>
                        <option value="https">HTTPS</option>
                    </select>
                </div>

                <div class="form-group">
                    <label for="hostname">Hostname:</label>
                    <input type="text" id="hostname" name="hostname" placeholder="Enter Hostname">
                </div>

                <div class="form-group">
                    <label for="port">Port:</label>
                    <input type="text" id="port" name="port" placeholder="Enter Port">
                </div>

                <div class="form-group">
                    <label for="path">Path:</label>
                    <input type="text" id="path" name="path" placeholder="Enter Path">
                </div>

                <div class="form-group">
                    <label for="body-data">Body Data:</label>
                    <textarea id="body-data" name="bodyData" placeholder="Enter Body Data"></textarea>
                </div>
            </div>


        </div>


        <button id="execute-test">Execute Test</button>
    </div>


    <script src="/js/script.js"></script>
</body>

</html>