.navbar {
    overflow: hidden;
    background-color: #333;
    font-family: Arial, sans-serif;
}

.navbar a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
}

.navbar a:hover {
    background-color: #ddd;
    color: black;
} 