.test-name {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 20px; /* Spacing between this section and the next */
    width: 100%;
}

.test-name-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-bottom: 10px; /* Spacing between the label/input and the buttons */
}

.test-name-container label {
    margin-right: 10px;
}

#test-name-input {
    flex-grow: 1;
    margin-right: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.toggle-button {
    padding: 10px 15px;
    margin-left: 5px;
    border: none;
    background-color: #4CAF50;
    color: white;
    border-radius: 4px;
    cursor: pointer;
    outline: none;
}

.toggle-button:not(.active) {
    background-color: #f0f0f0;
    color: #333;
}

#remote-config-form {
    display: flex; 
    flex-wrap: wrap;
    gap: 10px;
    padding-top: 10px;
    border-top: 1px solid #eaeaea;
    width: 100%;
    box-sizing: border-box;
}

.form-group {
    flex-basis: 90%;
    flex-grow: 1; /* Allow them to grow if there's space */
}

.form-group label {
    display: block;
    margin-bottom: 5px;
}

.form-group input[type="text"],
.form-group select {
    width: 90%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

/* You might want to adjust this for mobile view or smaller screens */
@media (max-width: 768px) {
    .form-group {
        flex-basis: 100%; /* Full width on smaller screens */
    }
}
